.wrapper {
  max-width: 450px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.uploadBox {
  width: 100%;
  height: 280px;
  border: 2px dashed #888;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 16px;
  overflow: hidden;
  background: #f7f7f7;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding: 12px 16px;
  background: black;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-bottom: 14px;
}

.resultBox {
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  margin-top: 20px;
  font-size: 15px;
}
